h2{
    color: blueviolet;
    background-color: yellowgreen;
    padding: 20px;
    text-align: center;
}
h3{
    color: white;
    background-color: violet;
    padding: 20px;
    text-align: center;
}